  body{
   background: linear-gradient(to bottom, #f3f1ed, #e8e4df);
  }
  html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
  .calendar-icon {  
      background-color: #5a4a3f;
      padding: 12px 100px;
      min-width: 40px;
      max-width: 40px;
      min-height: 48px;
  }

  .calendar-icon svg {
      color: white;
  }

  .navbar-brand img {
      height: 24px;
      margin-right: 8px;
  }

  .main-menu {
      background-color: #5a4a3f;
  }

  .main-menu .nav-link {
      color: white;
      font-weight: bold;
      padding: 12px 16px;
  }

  .main-menu .nav-link:hover {
      background-color: #7a6657;
      color: white;
  }

  footer {
      font-size: 0.95rem;
      background-color: #A2937F;
      margin-top: auto;
  }

  footer h5 {
      color: #f8f8f8;
  }

  footer i {
      color: #000000;
  }


  main {
      background-color: transparent;
      flex: 1;
  }


  .card {
      border: none;
      background-color: #A2937F;
      color: white;
  }

  .card-title {
      color: #fff;
      font-weight: bold;
  }

  .card-text {
      color: #f0f0f0;
  }


  .btn-reservar {
      background-color: #7A715F;
      color: #fff;
      border: none;
      padding: 8px 20px;
      font-size: 0.9rem;
      border-radius: 6px;
      transition: background-color 0.3s ease;
  }

  .btn-reservar:hover {
      background-color: #5a4a3f;
      color: #fff;
  }

  .habitaciones-info {
      background-color: #5a4a3f;
      color: white;
      text-align: center;
      padding: 20px 20px;
      font-family: 'Segoe UI', sans-serif;
  }

  .habitaciones-info h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
  }

  .habitaciones-info p {
      font-size: 0.95rem;
      margin: 0 auto;
      max-width: 700px;
  }

  @media (max-width: 768px) {}

  @media (max-width: 991.98px) {
      .main-menu {
          display: none;
      }
  }

  @media (min-width: 992px) {
      .mobile-header {
          display: none;
      }
  }