/* Estilos personalizados */
.calendar-icon {
  background-color: #5a4a3f;
  padding: 12px 100px;
  min-width: 40px;
  max-width: 40px;
  min-height: 48px;
}
.calendar-icon svg {
  color: white;
}
.navbar-brand img {
  height: 24px;
  margin-right: 8px;
}
.main-menu {
  background-color: #5a4a3f;
}
.main-menu .nav-link {
  color: white;
  font-weight: bold;
  padding: 12px 16px;
}
.main-menu .nav-link:hover {
  background-color: #7a6657;
  color: white;
}

.img-carrusel {
  max-height: 600px;
  object-fit: cover;
}

.carousel-overlay {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: transparent;
}

.btn-buscar {
  background-color: #4e4a32;
  color: white;
  border: none;
  height: 42px;
  transition: background-color 0.3s ease;
}

.btn-buscar:hover {
  background-color: #615a3d;
}

@media (max-width: 768px) {
  .reserva-container form {
    text-align: center;
  }
  .reserva-container .border-end {
    border-right: none !important;
  }
  .reserva-container .border-md-end {
    border-bottom: 1px solid #eaeaea;
  }
}

@media (max-width: 991.98px) {
  .main-menu {
    display: none;
  }
}

@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}
